@font-face {
    font-family: 'Sega Logo Font';
    font-style: normal;
    font-weight: normal;
    src: local('Sega Logo Font'), url('../assets/fonts/SEGA.TTF') format('ttf');
}

h1 {
    font-family: 'Sega Logo Font';
    font-weight: 200;
    color: #0ccac4;
}